.PrologAgent {
    margin: 0;
    width: 100%;
    height: 300px;
    color: white;
    background-color: black;
}


.PrologAgent .Question{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.PrologAgent .Question h1{
    margin-top: 20px;
}

.PrologAgent .Question p{
    font-size: 1.5em;
}

.Answers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: orange;
}

.Answers input {
    background-color: black;
    color: white;
    border: 0;
    height: 25px;
    margin-right: 10px;
}

.Answers button{
    background-color: black;
    border: 0;
    color: white;
    height: 25px;
    width: 70px;
    margin-left: 10px;
    cursor: pointer;
}

.Answers button:hover{
    cursor: pointer;
}
