.Conversation {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 50px;
}

.Conversation_Body {
    background-color: rgb(15, 15, 15);
    border: 5px solid orangered;
    border-radius: 50px;
    padding: 70px;
}

.Question {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 20px;
  background-color: rgb(226, 60, 0);
  border-radius: 25px;
}
.Answer {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: auto;
  padding: 20px;
  background-color: rgb(179, 59, 16);
  border-radius: 25px;
}
